{% extends "index.html" %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
  <center>
      <img class = "push-up-image" height = "300px " src = "https://upload.wikimedia.org/wikipedia/commons/7/74/Push-ups-3-1.png" alt = "Push Ups">
  </center>
  <div style = "display: flex; justify-content : center; font-size : 35px; color : black; margin-top : 60px;">
    <div>
       <p>
    <span style = "margin-left : 20px;"></span>Push-ups are one of the most effective and simplest body weight exercises that target multiple muscle groups,
    including the chest, shoulders, triceps, and core.<br><br>
    <span style = "margin-left : 20px;"></span>Whether you're a beginner or an advanced athlete, push-ups can be modified to suit any fitness level.
  </p><br>
  <p>
    <span style = "margin-left : 20px;"></span>Its is a CRUD operation based push up application .
  </p>
    </div>
  </div>

{% endblock %}