{% extends "index.html" %}



{% block title %}
    WorkOuts
{% endblock %}



{% block style %}
body {
            background-color: #f9f9f9;
        }
        .container {
            margin-top: 30px;
        }
        .card {
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            border: none;
        }
        .card-header {
            background-color: #d9534f;
            color: white;
            font-weight: bold;
        }
        .card-body {
            padding: 20px;
        }
        .btn-info {
            background-color: #5bc0de;
            border-color: #5bc0de;
        }
        .btn-info:hover {
            background-color: #31b0d5;
            border-color: #269abc;
        }
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}



{% block content %}

<div class="container">
    <h1 class="text-center mb-4">Workout List</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category,mes in messages %}
                <p class = "alert alert-{{ category }}" style = "color : navy; font-size : 30px;">{{ mes }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    {% for n in name.items %}


    <div class="row" id="workoutList">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Push-ups
                </div>
                <div class="card-body">
                    <p><strong style = "margin-right:78px;">ID  </strong> <strong>:</strong> {{n.id}}</p>
                    <p><strong style = "margin-right:60px;">Date </strong> <strong>:</strong> {{n.date_time}}</p>
                    <p><strong style = "margin-right:33px;">Pushups </strong> <strong>:</strong> {{n.count}}</p>
                    <p><strong style = "margin-right:15px;">Comments </strong> <strong>:</strong> {{n.comment}}</p>
                    <a href="{{url_for('main.update_push_up', workout_id = n.id)}}" class="btn btn-info">Edit Workout</a>
                    <a href="{{url_for('main.delete_workout', workout_id = n.id)}}" class="btn btn-danger">Delete Workout</a>
                </div>
            </div>
        </div>


    </div>
    {% endfor %}
</div>

<div style="display : grid; grid-template-columns : 1fr 3fr;">
    {% if name.has_prev %}
        <center  ><button style = "border : none; ">
            <a href = "{{ url_for('main.workouts', page1 = name.prev_num)}}">Previous</a>
        </button>
        </center>
    {% else %}
        <center></center>
    {% endif %}
    {% if name.has_next %}
    <center>
        <button style = "border : none;" >
        <a  href = "{{ url_for('main.workouts', page = name.next_num)}}">Next</a>
        </button>
    </center>
    {% else %}
        <center></center>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

{% endblock %}